<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/spectre.min.css">
  <link rel="stylesheet" href="css/spectre-exp.min.css">
  <title>home</title>
</head>
<body>
  <header class="navbar p-2">
    <section class="navbar-section">
      <a href="/" class="navbar-brand text-bold mr-2 ml-1">Tails</a>
      <a href="/home" class="btn btn-link">Home</a>
      <a href="/projects" class="btn btn-link">Projects</a>
    </section>
  </header>
