# documentation
.docusaurus
.cache-loader
documentation/lib/core/metadata.js
documentation/lib/core/MetadataBlog.js
documentation/website/translated_docs
documentation/website/build/
documentation/website/yarn.lock
documentation/website/node_modules
documentation/website/i18n/*


# node
node_modules/

# ide
.vscode/

# misc
*.log
.env
