{{> header }}
<div class="hero hero-sm bg-dark">
  <div class="hero-body mx-2">
    <div class="mx-2">
      <h1>Welcome to Tails</h1>
      <p>here is how you get started</p>
    </div>
  </div>
</div>

<main>
  <div class="container mt-2">
    <div class="columns">
      {{#each projects}}
        <div class="column col-4">
          <div class="card">
            <div class="card-image"><img class="img-responsive" src="fox10.jpg" alt="OS X El Capitan"></div>
            <div class="card-header">
              <div class="card-title h5">{{ this }}</div>
              <div class="card-subtitle text-gray">subtitle about {{ this }}</div>
            </div>
            <div class="card-body">
              <p>body about {{ this }}</p>

              <span class="label label-rounded">tag</span>
              <span class="label label-rounded">tag 1</span>
          </div>
            <div class="card-footer">
              <a class="btn btn-primary" href="/projects/{{ this }}">go to project</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</main>
{{> footer }}
