{{> header }}
<main>
  <div class="modal" id="modal-id">
    <a class="modal-overlay"></a>
    <div class="modal-container">
      <div class="modal-header">
        <a class="btn btn-clear float-right" aria-label="close"></a>
        <div class="modal-title h5">confirm</div>
      </div>
      <div class="modal-body">
        <div class="content">
          <p>are you sure you want to delete the project?</p>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-error" aria-label="no">no</a>
        <a class="btn btn-primary" aria-label="yes">yes</a>
      </div>
    </div>
  </div>
  {{#if projects}}
  <div class="container mt-2">
    <div id="delete-master" class="columns">
      {{#each projects}}
        {{> project this }}
      {{/each}}
    </div>
  </div>
  {{else}}
  {{> create_project_empty_state }}
  {{/if}}
</main>
<script>
  let project

  document.getElementById('delete-master').addEventListener('click', e => {
    let a = e.target.classList.contains('delete-button')
    console.log(a)
    if (!a) return
    document.querySelector('.modal').classList.toggle('active')
    console.log(document.querySelector('.modal'))
    project = e.target.getAttribute('data-project')
    console.log(project)
  })

  document.getElementById('modal-id').addEventListener('click', e => {
    let type = e.target.getAttribute('aria-label')
    console.log(type)
    if (type === null) return

    if (type === 'no' || type === 'close') {
      document.querySelector('.modal').classList.toggle('active')
    } else if (type === 'yes') {
      window.fetch('/projects/delete/?project=' + project, {
        method: 'POST'
      })
    }
  })
</script>

{{> footer }}
