{{> header}}
<main>
   <div class="container mt-2">
    <div class="columns">
      <div class="column col-3"></div>
      
      <div class="column col-6">
        <form method="post" action="/action/project/edit">
          <div class="form-group">
            <label class="form-label" for="project-name">project name</label>
            <div class="has-icon-right">
              <input class="form-input" type="text" id="project-name" name="projectName" placeholder="name" value="{{ project.name }}">
              <i class="form-icon icon icon-edit"></i>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="project-type">project type</label>
            <select class="form-select" id="project-type" name="projectType">
              {{#ifEquals project.type "web"}}
              <option value="web" selected>web</option>
              <option value="node">node</option>
              {{/ifEquals}}
              {{#ifEquals project.type "node"}}
              <option value="web">web</option>
              <option value="node" selected>node</option>
              {{/ifEquals}}
            </select>
          </div>

          <div class="form-group">
            <label class="form-label" for="project-type">project slug</label>
            <div class="has-icon-right">
              <input class="form-input" type="text" id="project-slug" name="projectSlug" placeholder="slug" value="{{ project.slug }}">
              <i class="form-icon icon icon-edit"></i>
          </div>

          <div class="form-group">
            <label class="form-label" for="project-desc">project description</label>
            <textarea class="form-input" id="project-desc" name="projectDesc" placeholder="project description" rows="3">{{ project.desc }}</textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">edit</button>
            <button type="submit" formaction="/action/project/delete" class="btn btn-error">delete</button>
          </div>
      </div>
      </form>

      <div class="column col-3"></div>
    </div>
  </div>
</main>
{{> footer }}
