{{> header }}
<div class="empty">
  <div class="empty-icon">
    <i class="icon icon-stop"></i>
  </div>
  <p class="empty-title h5">an error ocurred</p>
  <p class="empty-subtitle">{{ error }}</p>
  <div class="empty-action">
    <a href="/">
      <button class="btn btn-primary">go home</button>
    </a>
  </div>
</div>
{{> footer }}
