{{> header }}
<main>
  {{#if projects}}
  <div class="container mt-2">
    <div id="delete-master" class="columns">
      {{#each projects}}
        {{> project this }}
      {{/each}}
    </div>
  </div>
  {{else}}
  {{> create_project_empty_state }}
  {{/if}}
</main>
{{> footer }}
