<div class="empty">
  <div class="empty-icon">
    <i class="icon icon-4x icon-flag"></i>
  </div>
  <p class="empty-title h5">you have no projects</p>
  <p class="empty-subtitle">click the button below to create one</p>
  <div class="empty-action">
    <button class="btn btn-primary">create project</button>
  </div>
</div>
